In [35]:
from preprocessing import Preprocessing
import pandas as pd

In [36]:
col_drop = ['CustomerId','Surname']
types = {
    'HasCrCard':bool,
    'IsActiveMember':bool
}
train = pd.read_csv('data/train.csv', index_col='id', dtype=types).drop(columns=col_drop)
test = pd.read_csv('data/test.csv', index_col='id', dtype=types).drop(columns=col_drop)

In [37]:
bank_churn = Preprocessing(train, test, 'Exited')

In [38]:
X,y,test = bank_churn.encoded()

In [39]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,
0,668,1,33.0,3,0.00,2,True,False,181449.97,True,False,False
1,627,1,33.0,1,0.00,2,True,True,49503.50,True,False,False
2,678,1,40.0,10,0.00,2,True,False,184866.69,True,False,False
3,581,1,34.0,2,148882.54,1,True,True,84560.88,True,False,False
4,716,1,33.0,5,0.00,2,True,True,15068.83,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
165029,667,0,33.0,2,0.00,1,True,True,131834.75,False,False,True
165030,792,1,35.0,3,0.00,1,False,False,131834.45,True,False,False
165031,565,1,31.0,5,0.00,1,True,True,127429.56,True,False,False
165032,554,0,30.0,7,161533.00,1,False,True,71173.03,False,False,True
165033,850,1,31.0,1,0.00,1,True,False,61581.79,True,False,False

In [40]:
y

id
0         0
1         0
2         0
3         0
4         0
         ..
165029    0
165030    0
165031    0
165032    0
165033    1
Name: Exited, Length: 165034, dtype: int64

In [41]:
test

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,
165034,586,0,23.0,2,0.00,2,False,True,160976.75,True,False,False
165035,683,0,46.0,2,0.00,1,True,False,72549.27,True,False,False
165036,656,0,34.0,7,0.00,2,True,False,138882.09,True,False,False
165037,681,1,36.0,8,0.00,1,True,False,113931.57,True,False,False
165038,752,1,38.0,10,121263.62,1,True,False,139431.00,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
275052,570,1,29.0,7,116099.82,1,True,True,148087.62,False,False,True
275053,575,0,36.0,4,178032.53,1,True,True,42181.68,True,False,False
275054,712,1,31.0,2,0.00,2,True,False,16287.38,True,False,False
275055,709,0,32.0,3,0.00,1,True,True,158816.58,True,False,False
275056,621,0,37.0,7,87848.39,1,True,False,24210.56,True,False,False

In [42]:
from sklearn.preprocessing import MinMaxScaler

In [43]:
scaler = MinMaxScaler()

In [44]:
X.loc[:,['CreditScore','Age','EstimatedSalary','Balance']] = scaler.fit_transform(X[['CreditScore','Age','EstimatedSalary','Balance']])

In [45]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,
0,0.636,1,0.202703,3,0.000000,2,True,False,0.907279,True,False,False
1,0.554,1,0.202703,1,0.000000,2,True,True,0.247483,True,False,False
2,0.656,1,0.297297,10,0.000000,2,True,False,0.924364,True,False,False
3,0.462,1,0.216216,2,0.593398,1,True,True,0.422787,True,False,False
4,0.732,1,0.202703,5,0.000000,2,True,True,0.075293,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
165029,0.634,0,0.202703,2,0.000000,1,True,True,0.659179,False,False,True
165030,0.884,1,0.229730,3,0.000000,1,False,False,0.659177,True,False,False
165031,0.430,1,0.175676,5,0.000000,1,True,True,0.637151,True,False,False
165032,0.408,0,0.162162,7,0.643819,1,False,True,0.355841,False,False,True
165033,1.000,1,0.175676,1,0.000000,1,True,False,0.307880,True,False,False