In [1]:
from preprocessing import Preprocessing
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
col_drop = ['CustomerId','Surname']
types = {
    'HasCrCard':bool,
    'IsActiveMember':bool
}
train = pd.read_csv('data/train.csv', index_col='id', dtype=types).drop(columns=col_drop)
test = pd.read_csv('data/test.csv', index_col='id', dtype=types).drop(columns=col_drop)

In [3]:
X = train.drop(columns='Exited')
y = train.Exited

In [4]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [5]:
prepro = Preprocessing()

In [7]:
X_train_scld = prepro.fit_transform(X_train)
X_test_scld = prepro.transform(X_test)

In [8]:
X_train_scld

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,
44266,-0.317411,1,0.210763,-1.075588,1.387064,-1.013262,True,True,-0.956097,True,False,False
124151,0.182530,0,-1.028316,1.063657,-0.882968,0.814514,True,False,0.533407,False,False,True
123699,1.107421,1,0.773981,-1.432129,-0.882968,-1.013262,False,False,-0.986824,True,False,False
104580,-0.217423,1,-1.253603,-1.075588,-0.882968,0.814514,True,True,-0.589421,True,False,False
87480,0.719967,0,-0.127168,1.063657,-0.882968,0.814514,True,False,-1.206923,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
85976,0.207527,1,0.323406,-0.362506,0.609856,-1.013262,True,True,1.160488,True,False,False
85346,-1.492273,0,-0.127168,1.776738,-0.882968,-1.013262,True,True,-0.957278,False,False,True
111326,1.407386,1,-0.352455,-1.432129,1.044435,0.814514,True,True,1.377342,True,False,False
11977,-0.642373,0,1.449842,-1.432129,0.993981,-1.013262,True,True,1.411280,False,True,False
159946,0.669973,1,-0.014524,-1.075588,-0.882968,0.814514,True,True,-0.301752,True,False,False

In [9]:
X_test_scld

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,
1290,-0.079939,1,-1.140960,-1.788669,-0.882968,-1.013262,True,True,1.247940,True,False,False
22767,0.332512,1,0.436050,-0.719047,1.372492,-1.013262,True,True,-0.831119,True,False,False
29309,-1.229804,0,-0.127168,-0.362506,-0.882968,0.814514,False,False,-0.474335,True,False,False
154982,0.070043,1,-0.465098,-0.005966,1.092680,-1.013262,False,True,-1.098602,True,False,False
87955,0.919943,1,0.886624,-0.005966,1.355205,-1.013262,True,False,0.223025,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
157216,-1.979715,0,2.463634,-0.719047,0.687693,-1.013262,True,True,0.063081,False,True,False
122940,-1.042326,0,0.210763,1.776738,-0.882968,0.814514,False,True,1.011497,True,False,False
50239,0.594982,0,4.716505,1.063657,1.789428,-1.013262,True,True,1.212280,True,False,False
59075,-0.117435,1,0.548694,0.707116,0.993284,-1.013262,False,False,-1.198038,False,True,False
151079,0.532489,0,1.675129,1.776738,1.457603,0.814514,True,True,-1.568329,False,True,False