In [1]:
from preprocessing import Preprocessing
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv', index_col='id')
test = pd.read_csv('data/test.csv', index_col='id')

In [3]:
bank_churn = Preprocessing(train, test, 'Exited')

In [4]:
X,y,test = bank_churn.encoded()

In [5]:
X

,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,,,
0,15674932,Okwudilichukwu,668,1,33.0,3,0.00,2,1.0,0.0,181449.97,True,False,False
1,15749177,Okwudiliolisa,627,1,33.0,1,0.00,2,1.0,1.0,49503.50,True,False,False
2,15694510,Hsueh,678,1,40.0,10,0.00,2,1.0,0.0,184866.69,True,False,False
3,15741417,Kao,581,1,34.0,2,148882.54,1,1.0,1.0,84560.88,True,False,False
4,15766172,Chiemenam,716,1,33.0,5,0.00,2,1.0,1.0,15068.83,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,15667085,Meng,667,0,33.0,2,0.00,1,1.0,1.0,131834.75,False,False,True
165030,15665521,Okechukwu,792,1,35.0,3,0.00,1,0.0,0.0,131834.45,True,False,False
165031,15664752,Hsia,565,1,31.0,5,0.00,1,1.0,1.0,127429.56,True,False,False
165032,15689614,Hsiung,554,0,30.0,7,161533.00,1,0.0,1.0,71173.03,False,False,True
165033,15732798,Ulyanov,850,1,31.0,1,0.00,1,1.0,0.0,61581.79,True,False,False

In [6]:
y

id
0         0
1         0
2         0
3         0
4         0
         ..
165029    0
165030    0
165031    0
165032    0
165033    1
Name: Exited, Length: 165034, dtype: int64

In [7]:
test

,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
id,,,,,,,,,,,,,,
165034,15773898,Lucchese,586,0,23.0,2,0.00,2,0.0,1.0,160976.75,True,False,False
165035,15782418,Nott,683,0,46.0,2,0.00,1,1.0,0.0,72549.27,True,False,False
165036,15807120,K?,656,0,34.0,7,0.00,2,1.0,0.0,138882.09,True,False,False
165037,15808905,O'Donnell,681,1,36.0,8,0.00,1,1.0,0.0,113931.57,True,False,False
165038,15607314,Higgins,752,1,38.0,10,121263.62,1,1.0,0.0,139431.00,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275052,15662091,P'eng,570,1,29.0,7,116099.82,1,1.0,1.0,148087.62,False,False,True
275053,15774133,Cox,575,0,36.0,4,178032.53,1,1.0,1.0,42181.68,True,False,False
275054,15728456,Ch'iu,712,1,31.0,2,0.00,2,1.0,0.0,16287.38,True,False,False
275055,15687541,Yegorova,709,0,32.0,3,0.00,1,1.0,1.0,158816.58,True,False,False
275056,15663942,Tuan,621,0,37.0,7,87848.39,1,1.0,0.0,24210.56,True,False,False